nav {
  background-color: #fff;
  margin-bottom: 15px; }
  @media (min-width: 665px) {
    nav {
      margin: 0;
      -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
      /* FF3.5+ */
      -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
      /* Saf3.0+, Chrome */
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
      /* Opera 10.5, IE9, Chrome 10+ */ } }
  nav ul a, nav ul li.nolink span {
    color: #204068;
    font: 16px/18px 'Droid Serif', georgia, serif;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 23px; }
  nav ul li {
    padding-left: 15px;
    border-bottom: 1px solid #e5e5de; }
  nav ul ul {
    margin: -5px 0 10px 0; }
    nav ul ul a, nav ul ul li.nolink span {
      color: #5d7801;
      font: 14px/17px Helmet, Freesans, sans-serif;
      padding: 5px 0 5px 33px; }
    nav ul ul li {
      border-bottom: none; }
  nav li a.active, nav li li a.active {
    color: #5e801b; }
