$bodycolor: #dedfd1;
$linkcolor: #5e801b;
$mastcolor: #486f82;
$headercolor: #5e801b;
$circleh: #486f82;
$textcolor: #3e290b;
$navlinkcolor: #204068;
$footerlinkcolor: #204068;
$navlinkactive: #5e801b;

$stack: Helmet, Freesans, sans-serif;
$stack-serif: 'Droid Serif', georgia, serif;