.views-row{
	margin:10px 0;
	line-height:16px;
}


/* project styles */
.node-type-project .field-name-field-abstract, .node-type-project .field-name-field-problem-statement, .node-type-project .field-name-field-authors, .node-type-project .field-name-field-key-words, .node-type-project .field-name-field-category{
	margin-bottom:15px;
}

.page-taxonomy .node-teaser h2{
	font:bold 16px/19px 'Droid Serif', georgia, serif;
	margin:5px 0;
}
.page-taxonomy .node-teaser .field-name-field-filelink, .page-projects .field-content h3, .page-projects .field-content p{
	margin:5px 0;
}